body {
	background-color: #161616;
	padding:40px 40px 0px 40px;
}

table.maze {
	display: grid;
	/*margin-bottom: 20px;*/
}

td.maze-cell {
	display: inline-grid;
	box-sizing: border-box;
	/*border-color: #b0b0b0;*/
}

td.maze-cell {
	/*border-style: thin;*/
	padding: 0;
	margin: 0;
	/*width: 10px;*/
	/*height: 10px;*/
	min-width:  24px;
	min-height: 24px;
	max-width:  24px;
	max-height: 24px;
}